h1 {
    color: blue;
}

#myName {
    position: fixed;
}

#circleMe {
    border-radius: 50%;
    margin: auto;
    display: block;
    width: 75%;
}

.choices {
    display: flex;
    flex-direction: row;
}
